{
    "extends": [
        "standard", 
        "plugin:react/recommended", 
        "plugin:jest/recommended",
        "plugin:import/warnings",
        "plugin:import/errors"
      ],
    "plugins":["jest"],
    "rules": {
      "semi":"off",
      "indent": "off",
      "react/jsx-indent": 4,
      "react/jsx-indent-props": 4,
      "react/react-in-jsx-scope":"off",
      "react/prop-types":"off",
      "import/no-named-as-default":"off",
      "quotes":"off",
      "jsx-quotes": "off",
      "no-trailing-spaces": "off",
      "space-before-function-paren": "off",
      "eol-last":"off",
      "key-spacing":"off",
      "keyword-spacing":"off",
      "no-unused-vars":"warn"
    }
  }